<div class="container-card-big">
    <div class="card-big__photo">
        <img 
        src="https://hermes.dio.me/articles/cover/6b63cf3d-951b-4e41-a538-9068deadde31.png" 
        alt="photo"
        height="260px"
        srcset=""
        >
    </div>
    <div class="card-big__text">
        <h1><a href="https://hermes.dio.me/articles/cover/6b63cf3d-951b-4e41-a538-9068deadde31.png">Novo Artigo sobre IA </a></h1>
    </div>
    <div class="card-big__subtext">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
           when an unknown printer took a galley of type and scrambled it to make a type specimen book.
           </p>
    </div>
</div>
