.title-container{
    color: rgb(250, 245, 249);
}

.title-container > h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 125px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.title-container > hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.title-container > photo {
    display: flex;
    justify-content: center;
}


