<div class="container_card-small-card">

    <div class="container_card-small-content">
        <div class="card-small__photo">
            <h1 class="card-small__tic"> ☆ ☆ ☆</h1>
            <img 
                src="{{photoCover}} "
                alt=""
                height="120px"
                srcset=""
            >
        </div>
        <div class="card-small__text">
            <h1><a [routerLink]="['conteudo', Id]">{{ cardTitle }} </a></h1>
        </div>
    </div>
    <div class="container_card-small-divisor">
        <hr/>
    </div>
</div>
